{% trans_default_domain 'NucleosUserBundle' %}

<div class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center mb-5">
                                <a href="#!">
                                    <img src="{{ asset('build/images/kosmcode-logo.webp') }}"
                                         alt="BootstrapBrain Logo"
                                         width="175"
                                         height="175"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Login Form -->

                    {{ form_errors(form) }}

                    {{ form_start(form) }}
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'security.login.title'|trans }}
                        </legend>

                        {{ form_rest(form) }}

                    </fieldset>
                    {{ form_end(form) }}

                    <!-- // Login Form -->

                    <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center">
                                <a
                                        href="{{ path('nucleos_user_resetting_request') }}"
                                        class="link-secondary text-decoration-none">
                                    {{ 'security.forgotten_password'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
