<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">

{#    <div class="row">#}
{#        <div class="col">#}
{#            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'NucleosUserBundle') }} |#}
{#                <a href="{{ path('nucleos_user_security_logout') }}">#}
{#                    {{ 'layout.logout'|trans({}, 'NucleosUserBundle') }}#}
{#                </a>#}
{#            {% else %}#}
{#                <a href="{{ path('nucleos_user_security_login') }}">{{ 'layout.login'|trans({}, 'NucleosUserBundle') }}</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="row">

        <div class="col">
            {% block nucleos_user_content %}
            {% endblock nucleos_user_content %}
        </div>

    </div>

</div>

</body>
</html>
